<div class="container">
<h2> Japanese Visa</h2>


<ol class="breadcrumb">
  <li><a href="#/japan-visa-form-step1">Step1: Input your info</a></li>
  <li><a href="#/japan-visa-form-step2">Step2: Input travel info</a></li>
  <li class="active"><a href="#/japan-visa-form-step2">Step3: Input guarantor/inviter info</a></li>
</ol>                                                          
             

<h2>Step3: Fill in Guarantor/Inviter Information</h2>

<h3>Guarantor</h3>

<strong>Guarantor or reference in Japan</strong><br>
(Please provide details of the guarantor or the person to be visited in Japan)<br>
<br>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="guarantorName">Guarantor Name</label>
    <input type="text" class="form-control" id="guarantorName" placeholder="" ng-model="$storage.user.guarantorName">
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="guarantorTel">Guarantor Tel.</label>
    <input type="text" class="form-control" id="guarantorTel" placeholder="" ng-model="$storage.user.guarantorTel">
  </div>
</div>

<br>
<label for="guarantorAddress">Guarantor Address</label>
<input type="text" class="form-control" id="guarantorAddress" placeholder="" ng-model="$storage.user.guarantorAddress">
<br>


<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="guarantorDateOfBirth">Guarantor Date of birth</label>
    <input type="text" class="form-control" id="guarantoDateOfBirth" placeholder="Day/Month/Year e.g. 26/12/1979" ng-model="$storage.user.guarantorDateOfBirth">
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <strong>Guarantor Sex</strong>
    <div class="form-inline">
      <div class="radio">
        <label class="radio inline control-label">
          <input type="radio" name="guarantorGender" id="male" value="male" ng-model="$storage.user.guarantorGender">
          Male 
        </label>
      </div>
      <div class="radio">
        <label> 
          <input type="radio" name="guarantorGender" id="female" value="female" ng-model="$storage.user.guarantorGender">
          Female
        </label>
      </div>
    </div>
  </div>
</div>

<br>
<label for="guarantorRelationship">Guarantor Relationship to applicant</label>
<input type="text" class="form-control" id="guarantorRelationship" placeholder="" ng-model="$storage.user.guarantorRelationship">

<br>
<label for="guarantorProfession">Guarantor Profession or occupation and position</label>
<input type="text" class="form-control" id="guarantorProfession" placeholder="" ng-model="$storage.user.guarantorProfession">

<br>
<label for="guarantorNationality">Guarantor Nationality and immigration status</label>
<input type="text" class="form-control" id="guarantorNationality" placeholder="" ng-model="$storage.user.guarantorNationality">

<br>
<h3>Inviter in Japan</h3>
Please fill in the below in case your guarantor is different from inviter 
<br>
<br>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="inviterName">Inviter Name</label>
    <input type="text" class="form-control" id="inviterName" placeholder="" ng-model="$storage.user.inviterName">
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="inviterTel">Inviter Tel.</label>
    <input type="text" class="form-control" id="inviterTel" placeholder="" ng-model="$storage.user.inviterTel">
  </div>
</div>

<br>
<label for="inviterAddress">Inviter Address</label>
<input type="text" class="form-control" id="inviterAddress" placeholder="" ng-model="$storage.user.inviterAddress">
<br>


<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="inviterDateOfBirth">Inviter Date of birth</label>
    <input type="text" class="form-control" id="inviterDateOfBirth" placeholder="Day/Month/Year e.g. 26/12/1979" ng-model="$storage.user.inviterDateOfBirth">
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <strong>Inviter Sex</strong>
    <div class="form-inline">
      <div class="radio">
        <label class="radio inline control-label">
          <input type="radio" name="inviterGender" id="male" value="male" ng-model="$storage.user.inviterGender">
          Male 
        </label>
      </div>
      <div class="radio">
        <label> 
          <input type="radio" name="inviterGender" id="female" value="female" ng-model="$storage.user.inviterGender">
          Female
        </label>
      </div>
    </div>
  </div>
</div>

<br>
<label for="inviterRelationship">Inviter Relationship to applicant</label>
<input type="text" class="form-control" id="inviterRelationship" placeholder="" ng-model="$storage.user.inviterRelationship">

<br>
<label for="inviterProfession">Inviter Profession or occupation and position</label>
<input type="text" class="form-control" id="inviterProfession" placeholder="" ng-model="$storage.user.inviterProfession">

<br>
<label for="inviterNationality">Inviter Nationality and immigration status</label>
<input type="text" class="form-control" id="inviterNationality" placeholder="" ng-model="$storage.user.inviterNationality">

<br>

<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="downloadVisaForm()">Download Japn visa application PDF</button>

<br><br>

</div>

<!-- Modal -->
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="saveModalLabel">Which information do you want to save to our service?</h4>
      </div>
      <div class="modal-body">
        You can save the information that you filled in into our service so that you don't need to fill in next time.
        <label class="checkbox"><input type="checkbox" ng-init="store.basic=true" ng-model="store.basic"> Your basic information(martial status, residential info)</label>
        <label class="checkbox"><input type="checkbox" ng-init="store.personal=false" ng-model="store.personal"> Your personal information(ID, passport info, answer of quetions about criminal record)</label>
        <label class="checkbox"><input type="checkbox" ng-init="store.employer=true" ng-model="store.employer"> Your employment information</label>
        <label class="checkbox"><input type="checkbox" ng-init="store.supporter=true" ng-model="store.supporter"> Guarantor/Invitor information</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="downloadNow(store)">Dowanload PDF Now</button>
      </div>
    </div>
  </div>
</div>
