<h2>VISA APPLICATION FORM TO ENTER JAPAN</h2>

<br><br>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="surname">Surname <br>(as shown in passport)</label>
    <input type="text" class="form-control" id="surname" placeholder="Mike" ng-model="user.surname">
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="name">Given and middle names <br>(as shown in passport)</label>
    <input type="text" class="form-control" id="name" placeholder="Chan" ng-model="user.name">
  </div>
</div>

<br>

<label for="othername">Other names (including any other names you are or have been known by)</label>
<input type="text" class="form-control" id="othername" placeholder="" ng-model="user.othername">

<br>

<div class="row">
  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
    <label for="dateOfBirth">Date of birth</label>
    <input type="text" class="form-control" id="dateOfBirth" placeholder="Day/Month/Year e.g. 26/12/1979" ng-model="user.dateOfBirth">
  </div>

  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
    <label for="placeOfBirth">Place of birth</label>
    <input type="text" class="form-control" id="placeOfBirth" placeholder="City/State or Province/Countery e.g. Sibuya/Tokyo/Japan" ng-model="user.placeOfBirth">
  </div>
</div>

<br>

<div class="row">

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <strong>Sex</strong>
    <div class="form-inline">
      <div class="radio">
        <label class="radio inline control-label">
          <input type="radio" name="sex" id="male" value="male" ng-model="user.gender">
          Male 
        </label>
      </div>
      <div class="radio">
        <label> 
          <input type="radio" name="sex" id="female" value="female" ng-model="user.gender">
          Female
        </label>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <strong>Marital status</strong>
    <div class="form-inline">
      <div class="radio">
        <label class="radio inline control-label">
          <input type="radio" name="martialstatus" id="single" value="single" ng-model="user.matialstatus">
          Single
        </label>
      </div>
      <div class="radio">
        <label> 
          <input type="radio" name="martialstatus" id="married" value="married" ng-model="user.matialstatus" >
          Married
        </label>
      </div>
      <div class="radio">
        <label class="radio inline control-label">
          <input type="radio" name="martialstatus" id="widowed" value="widowed" ng-model="user.matialstatus">
          Widowed
        </label>
      </div>
      <div class="radio">
        <label class="radio inline control-label">
          <input type="radio" name="martialstatus" id="divorced" value="divorced" ng-model="user.matialstatus">
          Divorced
        </label>
      </div>
    </div>
  </div>

</div>

<br>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <strong>Nationality or citizenship</strong>
    <select class="form-control">
      <option>China</option>
    </select>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <strong>Former and/or other nationalities or citizenships</strong>
    <select class="form-control">
      <option>China</option>
    </select>
  </div>
</div>

<br>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="id">ID No. issued to you by your government</label>
    <input type="text" class="form-control" id="id" placeholder="">
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <strong>Passport type</strong>

    <div class="form-inline">
      <div class="radio">
        <label class="radio inline control-label">
          <input type="radio" name="passportType" id="diplomatic" value="diplomatic">
          Diplomatic 
        </label>
      </div>

      <div class="radio">
        <label class="radio inline control-label">
          <input type="radio" name="passportType" id="official" value="official">
          Official
        </label>
      </div>

      <div class="radio">
        <label class="radio inline control-label">
          <input type="radio" name="passportType" id="ordinary" value="ordinary">
          Ordinary
        </label>
      </div>

      <div class="radio">
        <label> 
          <input type="radio" name="passportType" id="other" value="other">
          Other
        </label>
      </div>
    </div>
  </div>
</div>

<br><br>

<button id="save" type="button" class="btn btn-primary btn-lg btn-block" ng-click="save(user)">Save</button>

