<div class="container">

<h2>Step3: Fill in Guarantor/Inviter Information</h2>

<h3>Guarantor</h3>

<strong>Guarantor or reference in Japan</strong><br>
(Please provide details of the guarantor or the person to be visited in Japan)<br>
<br>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="guarantorName">Guarantor Name</label>
    <input type="text" class="form-control" id="guarantorName" placeholder="" ng-model="user.guarantorName">
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="guarantorTel">Guarantor Tel.</label>
    <input type="text" class="form-control" id="guarantorTel" placeholder="" ng-model="user.gurantorTel">
  </div>
</div>

<br>
<label for="guarantorAddress">Guarantor Address</label>
<input type="text" class="form-control" id="guarantorAddress" placeholder="" ng-model="user.guarantorAddress">
<br>


<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="guarantorDateOfBirth">Guarantor Date of birth</label>
    <input type="text" class="form-control" id="guarantoDateOfBirth" placeholder="Day/Month/Year e.g. 26/12/1979" ng-model="user.guarantorDateOfBirth">
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <strong>Guarantor Sex</strong>
    <div class="form-inline">
      <div class="radio">
        <label class="radio inline control-label">
          <input type="radio" name="guarantorGender" id="male" value="male" ng-model="user.guarantorGender">
          Male 
        </label>
      </div>
      <div class="radio">
        <label> 
          <input type="radio" name="guarantorGender" id="female" value="female" ng-model="user.guarantorGender">
          Female
        </label>
      </div>
    </div>
  </div>
</div>

<br>
<label for="guarantorRelationship">Guarantor Relationship to applicant</label>
<input type="text" class="form-control" id="guarantorRelationship" placeholder="" ng-model="user.guarantorRelationship">

<br>
<label for="guarantorProfession">Guarantor Profession or occupation and position</label>
<input type="text" class="form-control" id="guarantorProfession" placeholder="" ng-model="user.guarantorProfession">

<br>
<label for="guarantorNationality">Guarantor Nationality and immigration status</label>
<input type="text" class="form-control" id="guarantorNationality" placeholder="" ng-model="user.guarantorNationality">

<br>
<h3>Inviter in Japan</h3>
Please fill in the below in case your guarantor is different from inviter 
<br>
<br>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="inviterName">Inviter Name</label>
    <input type="text" class="form-control" id="inviterName" placeholder="" ng-model="user.inviterName">
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="inviterTel">Inviter Tel.</label>
    <input type="text" class="form-control" id="inviterTel" placeholder="" ng-model="user.inviterTel">
  </div>
</div>

<br>
<label for="inviterAddress">Inviter Address</label>
<input type="text" class="form-control" id="inviterAddress" placeholder="" ng-model="user.inviterAddress">
<br>


<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="inviterDateOfBirth">Inviter Date of birth</label>
    <input type="text" class="form-control" id="inviterDateOfBirth" placeholder="Day/Month/Year e.g. 26/12/1979" ng-model="user.inviterDateOfBirth">
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <strong>Inviter Sex</strong>
    <div class="form-inline">
      <div class="radio">
        <label class="radio inline control-label">
          <input type="radio" name="inviterGender" id="male" value="male" ng-model="user.inviterGender">
          Male 
        </label>
      </div>
      <div class="radio">
        <label> 
          <input type="radio" name="inviterGender" id="female" value="female" ng-model="user.inviterGender">
          Female
        </label>
      </div>
    </div>
  </div>
</div>

<br>
<label for="inviterRelationship">Inviter Relationship to applicant</label>
<input type="text" class="form-control" id="inviterRelationship" placeholder="" ng-model="user.inviterRelationship">

<br>
<label for="inviterProfession">Inviter Profession or occupation and position</label>
<input type="text" class="form-control" id="inviterProfession" placeholder="" ng-model="user.inviterProfession">

<br>
<label for="inviterNationality">Inviter Nationality and immigration status</label>
<input type="text" class="form-control" id="inviterNationality" placeholder="" ng-model="user.inviterNationality">

<br>

<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="downloadJapanVisaForm(user)">Download Japn visa application PDF</button>

<br><br>

</div>
