<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">angular</h3>
</div>

<a href="/#/japan-visa-form">VISA APPLICATION FORM TO ENTER JAPAN</a>
<br>
<a class="btn btn-success" ng-href="/japan/form/download/{{ id }}">Download</a>

<br>
<br>
<a href="/#/japan-visa-form">Letter of Guarantee</a>
<br>
<a href="/#/japan-visa-form">Letter of Reason for Invitation</a>
<br>
<a href="/#/japan-visa-form">List of Visa Applicants</a>
<br>
<a href="/#/japan-visa-form">Overview of Company/Organization</a>
<br>
<a href="/#/japan-visa-form">Schedule of Stay</a>

