<div class="container">

<ol class="breadcrumb">
  <li><a href="#/japan-visa-form-step1">Step1: Input your info</a></li>
  <li class="active"><a href="#/japan-visa-form-step2">Step2: Input travel info</a></li>
  <li>Step3: Input guarantor/inviter info</li>
</ol>                       
                   


<h2>Step2: Fill in travel information </h2>
<br>
<label for="purpose">Main purpose(s) of the journey:</label>
<input type="text" class="form-control" id="purpose" placeholder="" ng-model="$storage.user.purpose">


<br>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="destMemberStates">Member State(s) of destination</label>
    <input type="text" class="form-control" id="destMemberStates" placeholder="" ng-model="$storage.user.destMemberStates">
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="firstMemberState">Member State of first entry</label>
    <input type="text" class="form-control" id="firstMemberState" placeholder="" ng-model="$storage.user.firstMemberState">
  </div>
</div>

<br>

<div class="row">
  
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    Number of entries requested:
    <div class="form-inline">
      <div class="radio">
        <label class="radio inline control-label">
          <input type="radio" name="numOfEntries" id="single" value="single" ng-model="$storage.user.numOfEntries">
          Single entry
        </label>
      </div>
      <div class="radio">
        <label> 
          <input type="radio" name="numOfEntries" id="two" value="two" ng-model="$storage.user.numOfEntries">
          Two entries
        </label>
      </div>
      <div class="radio">
        <label> 
          <input type="radio" name="numOfEntries" id="multiple" value="multiple" ng-model="$storage.user.numOfEntries">
          Multiple entries
        </label>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="firstMemberState">Duration of the intended stay or transit Indicate number of days :</label>
    <input type="text" class="form-control" id="firstMemberState" placeholder="" ng-model="$storage.user.firstMemberState">
  </div>
</div>
<br>


Schengen visas issued during the past three years
<div class="form-inline">
  <div class="radio">
    <label> 
      <input type="radio" name="trafficking" id="traffickingNo" value="no" ng-model="$storage.user.trafficking">
      No 
    </label>
  </div>
  <div class="radio">
    <label class="radio inline control-label">
      <input type="radio" name="trafficking" id="traffickingYes" value="yes" ng-model="$storage.user.trafficking">
      Yes 
    </label>
  </div>
</div>



<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="arrivalDate">Intended date of arrival in the Schengen area</label>
    <input type="text" class="form-control" id="arrivalDate" placeholder="" ng-model="$storage.user.arrivalDate">
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="portEntry">Port of entry into Japan</label>
    <input type="text" class="form-control" id="portEntry" placeholder="e.g. Narita" ng-model="$storage.user.portEntry">
  </div>
</div>

<br>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="shipAirline">Name of ship or airline</label>
    <input type="text" class="form-control" id="shipAirline" placeholder="" ng-model="$storage.user.shipAirline">
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="intendedLength">Intended length of stay in Japan</label>
    <input type="text" class="form-control" id="intendedLength" placeholder="" ng-model="$storage.user.intendedLength">
  </div>
</div>

<br>
<strong>Names and addresses of hotels or persons with whom applicant intends to stay</strong>
<br>
<div class="row">
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <label for="accommodationName">Name</label>
    <input type="text" class="form-control" id="accommodationName" placeholder="" ng-model="$storage.user.accommodation">
  </div>

  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <label for="accommodationTel" >Tel</label>
    <input type="text" class="form-control" id="accommodationTel" placeholder="" ng-model="$storage.user.accommodationTel">
  </div>
</div>

<br>

<label for="accommodationAddress">Address</label>
<input type="text" class="form-control" id="accommodationAddress" placeholder="" ng-model="$storage.user.accommodationAddress">

<br>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="previousStays">Dates and duration of previous stays in Japan</label>
    <input type="text" class="form-control" id="previousStays" placeholder="" ng-model="$storage.user.previousStays">
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
</div>

<br><br>

<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="toStep3(user)">Go to Step3</button>

<br><br>
</div>

