<div class="container">

<ol class="breadcrumb">
  <li><a href="#/schengen-visa-form-step1">Step1: Input your info</a></li>
  <li class="active"><a href="#/schengen-visa-form-step2">Step2: Input travel info</a></li>
  <li>Step3: Input sponsor/family info</li>
</ol>                       

<h2>Step2: Fill in travel information </h2>
<br>

<strong>Main purpose(s) of the journey:</strong>
<div class="form-inline">
  <div class="radio">
    <label class="radio inline control-label">
      <input type="radio" name="purpose" id="tourism" value="tourism" ng-model="$storage.user.purpose">
      Tourism
    </label>
  </div>
  <div class="radio">
    <label> 
      <input type="radio" name="purpose" id="business" value="business" ng-model="$storage.user.purpose">
      Business
    </label>
  </div>
  <div class="radio">
    <label> 
      <input type="radio" name="purpose" id="visiting" value="visiting" ng-model="$storage.user.purpose">
      Visiting family or friends
    </label>
  </div>
  <div class="radio">
    <label> 
      <input type="radio" name="purpose" id="cultural" value="cultural" ng-model="$storage.user.purpose">
      Cultural
    </label>
  </div>
  <div class="radio">
    <label> 
      <input type="radio" name="purpose" id="sports" value="sports" ng-model="$storage.user.purpose">
      Sports
    </label>
  </div>
  <div class="radio">
    <label> 
      <input type="radio" name="purpose" id="official" value="official" ng-model="$storage.user.purpose">
      Official vist
    </label>
  </div>
  <div class="radio">
    <label> 
      <input type="radio" name="purpose" id="study" value="study" ng-model="$storage.user.purpose">
      Study
    </label>
  </div>
  <div class="radio">
    <label> 
      <input type="radio" name="purpose" id="medical" value="medical" ng-model="$storage.user.purpose">
      Medical reasons
    </label>
  </div>
  <div class="radio">
    <label> 
      <input type="radio" name="purpose" id="transit" value="transit" ng-model="$storage.user.purpose">
      Transit
    </label>
  </div>
  <div class="radio">
    <label> 
      <input type="radio" name="purpose" id="airportTransit" value=airportTransit" ng-model="$storage.user.purpose">
      Airport transit
    </label>
  </div>
  <br>
  <label for="purposeOther">Other </label>
  <input type="text" class="form-control" name="purpose" id="purposeOther" ng-model="$storage.user.purposeOther">
</div>
<br>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="destMemberStates">Member State(s) of destination</label>
    <input type="text" class="form-control" id="destMemberStates" placeholder="" ng-model="$storage.user.destMemberStates">
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="firstMemberState">Member State of first entry</label>
    <input type="text" class="form-control" id="firstMemberState" placeholder="" ng-model="$storage.user.firstMemberState">
  </div>
</div>
<br>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="arrivalDate">Intended date of arrival in the Schengen area</label>
    <input type="text" class="form-control" id="arrivalDate" placeholder="" ng-model="$storage.user.arrivalDate">
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="depatureDate">Intended date of departure from the Schengen area</label>
    <input type="text" class="form-control" id="depatureDate" placeholder="" ng-model="$storage.user.depatureDate">
  </div>
</div>
<br>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    Number of entries requested:
    <div class="form-inline">
      <div class="radio">
        <label class="radio inline control-label">
          <input type="radio" name="numOfEntries" id="single" value="single" ng-model="$storage.user.numOfEntries">
          Single entry
        </label>
      </div>
      <div class="radio">
        <label> 
          <input type="radio" name="numOfEntries" id="two" value="two" ng-model="$storage.user.numOfEntries">
          Two entries
        </label>
      </div>
      <div class="radio">
        <label> 
          <input type="radio" name="numOfEntries" id="multiple" value="multiple" ng-model="$storage.user.numOfEntries">
          Multiple entries
        </label>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label for="firstMemberState">Duration of the intended stay or transit Indicate number of days :</label>
    <input type="text" class="form-control" id="firstMemberState" placeholder="" ng-model="$storage.user.firstMemberState">
  </div>
</div>

<div class="check-element" ng-hide="$storage.user.familyMember">
  <div class="check-element" ng-hide="$storage.user.existInviter">
    <label for="accommodationAddress">Hotel/Temporary accommodation Address</label>
    <input type="text" class="form-control" id="accommodationAddress" placeholder="" ng-model="$storage.user.accommodationAddress">
    <div class="row">
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <label for="accommodationEmail">Hotel/Temporary accommodation Email</label>
        <input type="text" class="form-control" id="accommodationEmail" placeholder="" ng-model="$storage.user.accommodationEmail">
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <label for="accommodationTel" >Telphone/Telfax</label>
        <input type="text" class="form-control" id="accommodationTel" placeholder="" ng-model="$storage.user.accommodationTel">
      </div>
    </div>
    <br>
  </div>
</div>

<br><br>

<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="toStep3(user)">Go to Step3</button>

<br><br>
</div>

