<div class="jumbotron">
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
    <div class="inside_jumbo col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h1><span>Visa Station</span></h1>
      <p><span>Visa Station helps to create VISA application form without any cost</span></p>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
  </div>
  <center>
    <select class="form-control input-medium" style="margin-top:10px;width:200px" ng-model="country" ng-options="c for c in countries" ng-change="goStep(country)">
      <option value="">Choose country to start!</option>
    </select>
  </center>
</div>

<br>
<div class="row" style="margin-left: 10px;margin-right: 10px">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h3>Secure <i class="fa fa-lock"></i></h3>
    Your personal information is encrypted for protection
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h3>Community <i class="fa fa-comments"></i></h3>
    Exchange tips & insights on how others successfully applied
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h3>Fast <i class="fa fa-fast-forward"></i></h3>
    Save time by entering 100% electronically
  </div>
</div>

<div class="row" style="margin-left: 10px;margin-right: 10px">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h3>Easy to use <i class="fa fa-smile-o"></i></h3>
    Step by step guide for precise application
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h3>Organized <i class="fa fa-list-ol"></i></h3>
    All the visa documents you need are right here
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h3>Free <i class="fa fa-money"></i></h3>
    Best things in life are free. We believe this applies to visa applications as well
  </div>
</div>

<!--
<center>
  <iframe height="350" width="550" src="//player.vimeo.com/video/91511793?portrait=0&player_id=0?byline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


  <h4>Select country to create VISA application now!</h4>
</center>
-->


</div>
  
  
